:root {
  --primary: #282e79;
  --background-color: #f5f5f6;
  --main-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --min-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background: var(--background-color);
}

#calendar {
  height: 100%;
}

#calendar:not(.active) {
  display: none;
}

#add:not(.active) {
  display: none;
}

.title {
  margin: 1em;
  font-weight: 200;
  font-size: 20pt;
}

.item_card {
  border-radius: 9px;
  margin: 1em;
  padding: 1em;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: var(--main-shadow);
  vertical-align: middle;
}

.item_card span {
  color: gray;
  margin-right: 5px;
}

nav {
  height: 50px;
  text-align: center;
}

nav p {
  display: inline;
  margin: 20px;
  cursor: pointer;
}

.nav_item.active {
  color: var(--primary);
}

.nav_item:not(.active) {
  color: gray;
}

#show_add {
  float: right;
  cursor: pointer;
  color: #CCCCCC;
}

#add {
  text-align: center;
}
#add input, #add select{
  width: 90%;
  border: 0;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: var(--min-shadow);
}
#add select{
  width: 95%;
}

#add button {
  border: 0;
  padding: 10px;
  width: 80px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary);
  box-shadow: var(--main-shadow);
}

.nothing {
  text-align: center;
  font-size: 18pt;
  font-weight: 200;
  color: #AAAAAA;
}

.dateTitle {
  font-size: 15pt;
  margin-left: .8em;
}