:root {
  --primary: #282e79;
  --background-color: #f5f5f6;
  --main-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --min-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

@font-face {
  font-family: openhuninn;
  src: url("fonts/jf-openhuninn-1.0.ttf");
}

* {
  font-family: 'openhuninn';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background-color);
  overflow: -moz-scrollbars-none;
}

#calendar {
  height: 100%;
}

#calendar:not(.active) {
  display: none;
}

#add:not(.active) {
  display: none;
}

.title {
  margin: 1em;
  font-weight: 200;
  font-size: 20pt;
}

.item_card {
  display: flex;
  border-radius: 9px;
  margin: 1em;
  padding: 1em;
  padding-left: 30px;
  padding-bottom: 30px;
  box-shadow: var(--main-shadow);
  justify-content: space-between
}

.item_card span {
  color: gray;
  margin-right: 5px;
}

nav {
  height: 50px;
  text-align: center;
}

nav p {
  display: inline;
  margin: 20px;
  cursor: pointer;
}

.nav_item.active {
  color: var(--primary);
}

.nav_item:not(.active) {
  color: gray;
}

#show_add {
  float: right;
  cursor: pointer;
  color: #CCCCCC;
}

#add {
  text-align: center;
}
input, select{
  width: 90%;
  border: 0;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: var(--min-shadow);
}
#add select{
  width: 95%;
}

.nothing {
  text-align: center;
  font-size: 18pt;
  font-weight: 200;
  color: #AAAAAA;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.dateTitle {
  font-size: 15pt;
  margin-left: .8em;
}

.icon_group {
  width: 50px;
}

.icon_group .iconify {
  cursor: pointer;
  width: 1.3em;
  height: auto;
  margin-top: 28px;
  color: #CCCCCC;
}

@media only screen and (min-width: 800px) {
  #calendar, #add {
    margin: 0 auto;
    width: 800px;
  }
}

.notification_card {
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.notification_card.active{
  opacity: 1;
  z-index: 1;
}

.notification_card:not(.active) > .setting {
  top: -1000px;
  position: absolute;
}

.notification_card .setting {
  background-color: var(--background-color);
  opacity: 100%;
  margin: auto;
  width: 90%;
  max-width: 500px;
  height: 250px;
  box-shadow: var(--main-shadow);
  border-radius: 5px;
  z-index: 2;
  top: 0;
  position: relative;
  transition: .3s all;
}

.notification_card .setting h1 {
  text-align: center;
  font-size: 15pt;
  padding: 1em;
}

.notification_card .setting p {
  margin: 1em;
}

.notification_card .setting input {
  margin-left: 2em;
  width: 80%;
}

.notification_card .setting button {
  margin-top: 2em;
  margin-right: 2em;
  float: right;
}

button {
  border: 0;
  padding: 10px;
  width: 80px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--primary);
  box-shadow: var(--main-shadow);
}

#clear_notification {
  background-color: var(--background-color);
  color: gray;
  box-shadow: none;
}

.left_block {
  max-width: 80%;
  overflow: hidden;
}

#delete_btn {
  float: left;
  display: inline;
  padding-top: 1.5em;
  padding-left: 1em;
  color: #AAAAAA;
  font-size: 90%;
}